[%# News file for the FreeBSD bugzilla instance #%]
[% news = [
{
  date => '2026-10-03',
  text => '<ul>
  <li>Belatedly, version 14.5-RELEASE of product Base System was created.</li>
  </ul>'
},
{
  date => '2026-10-01',
  text => '<ul>
  <li>As support for it is ending, Base System version 15.0 was disabled
    for new bugs.</li>
  </ul>'
},
{
  date => '2026-07-29',
  text => '<ul>
  <li>Version 14.5-STABLE of product Base System was created.</li>
  </ul>'
},
{
  date => '2026-07-01',
  text => '<ul>
  <li>As support for it is ending, Base System version 14.3 was disabled
    for new bugs.</li>
  </ul>'
},
{
  date => '2026-05-01',
  text => '<ul>
  <li>Version 15.1-RELEASE of product Base System was created.</li>
  <li>As support for it is ending, Base System version 13.5 was disabled
    for new bugs.</li>
  </ul>'
},
{
  date => '2026-04-18',
  text => '<ul>
  <li>Version 15.1-STABLE of product Base System was created.</li>
  </ul>'
},
{
  date => '2026-01-02',
  text => '<ul>
  <li>As support for it is ending, Base System version 14.2 was disabled
    for new bugs.</li>
  </ul>'
},
{
  date => '2025-09-16',
  text => '<ul>
  <li>Version 16.0-CURRENT of product Base System was created.</li>
  <li>Version 15.0-STABLE of product Base System was created.</li>
  <li>The weekly reminder script was updated to select the new
    mfc-stable15 and deselect mfc-stable13.</li>
  <li>The Dashboard MFC query was similarly updated.</li>
  </ul>'
},
{
  date => '2025-07-02',
  text => '<ul>
  <li>As discussed at BSDCan, the FreeBSD Project is going to disallow
    contributions created by using AI, pending a clearer legal framework.
    Use the new Resolution "No AI Content" to close such reports.</li>
  <li>As support for it is ending, Base System version 13.4 was disabled
    for new bugs.</li>
  <li>clusteradm@ has installed Anubis as a front-end to the web
    interface.  This is intended to discourage crawlers and thus
    remove delays in displaying pages.</li>
  </ul>'
},
{
  date => '2025-04-01',
  text => '<ul>
  <li>Version 14.3-RELEASE of product Base System was created.</li>
  <li>As support for it is ending, Base System version 14.1 was disabled
    for new bugs.  (portmgr@ removed the ports/Mk code on 20250401.)</li>
  </ul>'
},
{
  date => '2025-03-07',
  text => '<ul>
  <li>Version 13.5-RELEASE of product Base System was created.</li>
  </ul>'
},
{
  date => '2025-02-07',
  text => '<ul>
  <li>Version 13.5-STABLE of product Base System was created.</li>
  </ul>'
},
{
  date => '2025-01-22',
  text => '<ul>
  <li>Unfortunately, due to the rise of AI-generated spam, FreeBSD has had
    to disable the auto-create feature for accounts.  Instead, please now
    email bugmeister@FreeBSD.org for a new account.</li>
  </ul>'
},
{
  date => '2025-01-07',
  text => '<ul>
  <li>Bugzilla has been updated to 5.0.4.1.  This
    is a security and minor bugfix update.</li>
  <li>A fix for <a href="https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=250699">Bug 250699</a>
    has been committed.
  </ul>'
},
{
  date => '2024-11-23',
  text => '<ul>
  <li>Version 14.2-RELEASE of product Base System was created.</li>
  </ul>'
},
{
  date => '2024-11-03',
  text => '<ul>
  <li>Version 14.2-STABLE of product Base System was created.</li>
  </ul>'
},
{
  date => '2024-08-02',
  text => '<ul>
  <li>Version 13.4-STABLE of product Base System was created.</li>
  </ul>'
},
{
  date => '2024-07-01',
  text => '<ul>
  <li>As support for them have ended, Base System versions 13.2-* were
    disabled for new bugs.</li>
  <li>Belatedly, version 13.3-STABLE of product Base System was created.</li>
  </ul>'
},
{
  date => '2024-06-15',
  text => '<ul>
  <li>Versions 14.1-RELEASE and 14.1-STABLE of product Base System were
    created.</li>
  <li>As an experiment, the keyword "vendor" has been created.  Set this
    to flag a PR as filed from an upstream or downstream of FreeBSD.</li>
  </ul>'
},
{
  date => '2024-01-20',
  text => '<ul>
  <li>As an experiment, the flag "needs-errata" has been created.  Set this
    to ? to ask Release Engineering or Secteam to evaluate whether an
    <a href="https://www.freebsd.org/security/notices/">Errata Notice</a>
    should be created for an existing release.</li>
  </ul>'
},
{
  date => '2024-01-04',
  text => '<ul>
  <li>As support for it has ended, Base System version 12.4 was disabled
    for new bugs.</li>
  <li>The weekly reminder script was updated to deselect mfc-stable12.</li>
  <li>The Dashboard MFC query was similarly updated.</li>
  </ul>'
},
{
  date => '2023-12-17',
  text => '<ul>
  <li>The weekly reminder script was belatedly updated to:
    <ul>
      <li>deselect mfc-stable8 through 11.</li>
      <li>select mfc-stable12 through 14.</li>
    </ul>
  <li>The Dashboard MFC query was belatedly fixed as above.</li>
  <li>Note that mfc-stable12 will be removed 20240101.</li>
  </ul>'
},
{
  date => '2023-11-30',
  text => '<ul>
    <li>A stale query was removed from the Dashboard (PR 215844).</li>
    <li><code>max_search_results</code> was updated from 10000 to 12500.
      This was limiting the totals from certain queries.</li>
  </ul>'
},
{
  date => '2023-08-30',
  text => '<ul>
  <li>To reflect the prelease state of FreeBSD 14.0, the following were
    done:
    <ul>
      <li>Version 14.0-STABLE of product Base System was created.</li>
      <li>Version 15.0-CURRENT of product Base System was created.</li>
      <li>The flag type mfc-stable14 was created.</li>
    </ul>
  <li>As support for them has ended, Base System versions 12.0-*, 12.1-*,
    12.2-*, 12.3-*, 13.0-*, and 13.1-* were disabled for new bugs.</li>
  </ul>'
},
{
  date => '2021-01-24',
  text => '<ul>
  <li>To reflect the prelease state of FreeBSD 13.0, the following were
    done:
    <ul>
      <li>Version 13.0-STABLE of product Base System was created.</li>
      <li>The flag type mfc-stable13 was created.</li>
    </ul>
  <li>As support for them has ended, Base System versions 12.0-RELEASE
    and 12.0-STABLE were disabled for new bugs.</li>
  <li>Hardware value sparc64 has been disabled for new bugs.</li>
  </ul>'
},
{
  date => '2020-07-12',
  text => '<ul>
  <li>In order to lay the groundwork for future changes/improvements,
    and to make it easier to search for things that are not assigned,
    we have modified the <code>Real Name</code> of all bugzilla accounts
    that are default assignees as such:<br>
    &nbsp;&nbsp;&nbsp;&nbsp;<code>Assignee: freebsd-net (Nobody)</code>.<br>
    This is to make it more obvious that default assignees are assigned to
    <code>Nobody</code> and encourages self-assignment (to real people) to
    make resolution more consistent.</li>
  </ul>'
},
{
  date => '2020-07-11',
  text => '<ul>
  <li>To help support the 202007 Bug Squash, all of the PRs containing
    patches were audited so that:
    <ul>
      <li>Each attachment that has its <code>Patch</code> flag set has
        been verified to contain a patch.</li>
      <li>If an attachment filename ends in <code>.diff</code> or
        <code>.patch</code>, its <code>Patch</code> flag has been
        verified to be set.</li>
      <li>The remaining attachment filenames end in <code>.shar</code>.</li>
    </ul>
  </li>
  <li>This officially obsoletes the use of the the <code>Keywords</code>
    field value of <code>patch</code>.  This value had to be added by hand
    and as a result was applied inconsistently.</li>
  </ul>'
},
  ]
%]

[% FOREACH item IN news %]
[% BREAK IF loop.count() > 5 %]
<div class="entry">
  <span class="date">[% item.date FILTER html %]</span>
  <p>[% item.text %]</p>
</div>
[% END %]
